section.advantages._container#advantages-block
  .section-head.advantages__title
    h2 / ПОЧЕМУ МЫ? /
  .advantages__grid.grid
    .advantages__item.grid__item.item1
      .advantages__item-title Никаких рисков и переплат
      p Мы согласуем стоимость и условия перед началом работы, подпишем договор и дадим гарантию.
    .advantages__item.grid__item.item2
      .advantages__item-title Поэтапная оплата по результатам
      p Оплачивайте по частям - это удобно и безопасно.
    .advantages__item.grid__item.item3
      .advantages__item-title Быстрый запуск MVP
      p Мы разработаем концепцию, проведем R&D, составим детальный план и оперативно воплотим его в жизнь. Обычно процесс занимает от 14 до 60 дней.
    .advantages__item.grid__item.item4
      .advantages__item-title Три модели оплаты на Ваш выбор
      p Мы предлагаем гибкую систему оплаты, которая включает в себя почасовую оплату (T&M), фиксированную цену за весь проект или возможность оплаты отдельных специалистов. Мы готовы обсудить с вами наилучший вариант, который лучше всего подходит вам.
    .advantages__item.grid__item.item5
      .advantages__item-title Максимальная персонализация
      p Мы уделим особое внимание вашим задачам и предложим наиболее подходящее решение, которое соответствует вашим бизнес-целям.
    .advantages__item.grid__item.item6
      .advantages__item-title Индивидуальные решения
      p Мы создадим для вас индивидуальный дизайн пользовательского интерфейса (UX/UI) и напишем чистый и уникальный код.
  .advantages__footer
    .advantages__item.grid__item.item5
      .advantages__item-title Максимальная персонализация
      p Мы уделим особое внимание вашим задачам и предложим наиболее подходящее решение, которое соответствует вашим бизнес-целям.
    .advantages__item.grid__item.item6
      .advantages__item-title Индивидуальные решения
      p Мы создадим для вас индивидуальный дизайн пользовательского интерфейса (UX/UI) и напишем чистый и уникальный код.

  a(href="#consultation-block").btn-default.advantages__btn   
    <span>+</span> Связаться с нами