section.cases#cases-block
  ._container
    .section-head.cases__title
      h2 / Информациях о проектах /
    .cases__wrapper 
      .cases__item
        .cases__picture.cases__grid-item1
          .cases__picture-single.show-uno
            img(src="img/cases/image1.jpg" alt="" loading="lazy")
          .cases__picture-single.show-uno
            img(src="img/cases/image2.jpg" alt="" loading="lazy")
          .cases__picture-single.show-uno
            img(src="img/cases/image3.jpg" alt="" loading="lazy")
          .cases__picture-single.show-uno
            img(src="img/cases/image4.jpg" alt="" loading="lazy")
        .cases__item-col
          .cases__number.cases__grid-item2
            span <i>1</i>
          .cases__subtitle.cases__grid-item3.show-uno UNO farm <a>/uno.farm</a>
          .cases__text.cases__grid-item4.show-uno
            p Проект помогает крипто-инвесторам максимизировать свою прибыль и минимизировать риски путем автоматического распределения средств своего портфеля между лучшими продуктами DeFi с помощью единого инструмента. Интеллектуальный механизм агрегации обеспечивает безопасность и высокую доходность, предоставляя инвесторам простой доступ к лучшим процентным ставкам со всего рынка DeFi на их активы.
        .cases__text.cases__text--mobile.cases__grid-item4.show-uno
          p Проект помогает крипто-инвесторам максимизировать свою прибыль и минимизировать риски путем автоматического распределения средств своего портфеля между лучшими продуктами DeFi с помощью единого инструмента. Интеллектуальный механизм агрегации обеспечивает безопасность и высокую доходность, предоставляя инвесторам простой доступ к лучшим процентным ставкам со всего рынка DeFi на их активы.
      .cases__item
        .cases__picture.cases__grid-item1.cases__picture--one
          .cases__picture-single.show-bdns
            img(src="img/cases/image5.png" alt="" loading="lazy")
        .cases__item-col
          .cases__number.cases__grid-item2 
            span <i>2</i>
          .cases__subtitle.cases__grid-item3.show-bdns BDNS <a>/BDNS.app</a>
          .cases__text.cases__grid-item4.show-bdns
            p BDNS - это первая в мире служба доменных имен, полностью основанная на Ethereum. Домены можно создавать в форме невзаимозаменяемых токенов (NFT), которые можно привязать к адресу кошелька Ethereum по имени. Таким образом, вы можете использовать простое имя вместо длинного адреса, например, ваш адрес кошелька Ethereum "Blockchain.eth" может быть представлен просто как "Blockchain" с помощью покупки и настройки NFT BDNS. Это предоставляет удобство и уникальность в использовании доменных имен на базе Ethereum.
        .cases__text.cases__text--mobile.cases__grid-item4.show-bdns
          p BDNS - это первая в мире служба доменных имен, полностью основанная на Ethereum. Домены можно создавать в форме невзаимозаменяемых токенов (NFT), которые можно привязать к адресу кошелька Ethereum по имени. Таким образом, вы можете использовать простое имя вместо длинного адреса, например, ваш адрес кошелька Ethereum "Blockchain.eth" может быть представлен просто как "Blockchain" с помощью покупки и настройки NFT BDNS. Это предоставляет удобство и уникальность в использовании доменных имен на базе Ethereum.
      .cases__item
        .cases__picture.cases__grid-item1.cases__picture--two
          .cases__picture-wrapper
            .cases__picture-single.show-dwill
              img(src="img/cases/image8.png" alt="" loading="lazy")
            .cases__picture-single.show-dwill
              img(src="img/cases/image6.jpg" alt="" loading="lazy")
        .cases__item-col
          .cases__number.cases__grid-item2 
            span <i>3</i>
          .cases__subtitle.cases__grid-item3.show-dwill dWill <a>/dWill.app</a>
          .cases__text.cases__grid-item4.show-dwill 
            p dWill - это инновационный протокол наследования, основанный на принципах децентрализации и безопасности хранения. С помощью dWill вы можете безопасно передавать токены из вашего криптовалютного кошелька на доверенные кошельки вашей семьи и друзей, или на ваш резервный кошелек. Этот процесс осуществляется автономно и полностью децентрализованно, обеспечивая надежность и безопасность ваших финансов.
        .cases__text.cases__text--mobile.cases__grid-item4.show-dwill 
          p dWill - это инновационный протокол наследования, основанный на принципах децентрализации и безопасности хранения. С помощью dWill вы можете безопасно передавать токены из вашего криптовалютного кошелька на доверенные кошельки вашей семьи и друзей, или на ваш резервный кошелек. Этот процесс осуществляется автономно и полностью децентрализованно, обеспечивая надежность и безопасность ваших финансов.
    .cases__btns 
      a.btn-default(href="#consultation-block") <span>+</span> ЗАПИШИТЕСЬ НА КОНСУЛЬТАЦИЮ
      .btn-arrow
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 9L12 22M12 22L15 19M12 22L9 19M12 6C11.4696 6 10.9609 5.78929 10.5858 5.41421C10.2107 5.03914 10 4.53043 10 4C10 3.46957 10.2107 2.96086 10.5858 2.58579C10.9609 2.21071 11.4696 2 12 2C12.5304 2 13.0391 2.21071 13.4142 2.58579C13.7893 2.96086 14 3.46957 14 4C14 4.53043 13.7893 5.03914 13.4142 5.41421C13.0391 5.78929 12.5304 6 12 6Z" stroke="#F2633F" stroke-width="1.17434" stroke-linecap="round" stroke-linejoin="round"/></svg>
        span ПОСМОТРЕТЬ ДРУГИЕ ПРОЕКТЫ

    .cases__carousel
      .swiper.swiper-cases
        .swiper-wrapper 
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/uno.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/uno.webp" alt="")
                img.active(src="img/cases/active/uno.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide2.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/amnext.webp" alt="")
                img.active(src="img/cases/active/amnext.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide3.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/voomo.webp" alt="")
                img.active(src="img/cases/active/voomo.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide4.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/xstarter.webp" alt="")
                img.active(src="img/cases/active/xstarter.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide5.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/social.webp" alt="")
                img.active(src="img/cases/active/social.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide6.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/swap.webp" alt="" style="transform: scale(1.1)")
                img.active(src="img/cases/active/swap.png" style="transform: scale(1.1)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide7.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/spicy.webp" alt="" style="transform: scale(1.1)")
                img.active(src="img/cases/active/spicy.png" style="transform: scale(1.1)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/slide8.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/diamond.webp" alt="")
                img.active(src="img/cases/active/diamond.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/mandala.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/mandala.webp" alt="" style="transform: scale(1.15)")
                img.active(src="img/cases/active/mandala.png" style="transform: scale(1.15)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/fair.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/fair.webp" alt="")
                img.active(src="img/cases/active/fair.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/phyera.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/phyera.webp" alt="" style="transform: scale(0.85)")
                img.active(src="img/cases/active/phyera.png" style="transform: scale(0.85)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/bdns.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/bdns.webp" alt="" style="transform: scale(0.7)")
                img.active(src="img/cases/active/bdns.png" style="transform: scale(0.7)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/darwin.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/darwin.webp" alt="")
                img.active(src="img/cases/active/darwin.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/1stop.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/1stop.webp" alt="")
                img.active(src="img/cases/active/1stop.png")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/ccrisp.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/ccrisp.webp" alt="" style="transform: scale(0.9)")
                img.active(src="img/cases/active/ccrisp.png" style="transform: scale(0.9)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/grey.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/grey.webp" alt="" style="transform: scale(0.8)")
                img.active(src="img/cases/active/grey.webp" style="transform: scale(0.8)")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/heycard.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/heycard.webp" alt="")
                img.active(src="img/cases/active/heycard.webp")
          .swiper-slide.cases-slide
            .cases-slide__item 
              .cases-slide__back 
                img(src="img/carousel/c5v.png" alt="")
              .cases-slide__name 
                img.unactive(src="img/cases/unactive/c5v.png" alt="" style="transform: scale(1.3)")
                img.active(src="img/cases/active/c5v.png" style="transform: scale(1.3)")


        .swiper-button-prev
          img(src="img/arrow-prev.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
        .swiper-button-next
          img(src="img/arrow-next.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
  .cases__footer
    a.btn-default(href="#consultation-block") <span>+</span> ЗАПИШИТЕСЬ НА КОНСУЛЬТАЦИЮ