section.description
  ._container 
    .section-head 
      h2 <span>/ МЫ ГОРДИМСЯ ТЕМ, /</span> ЧТО ПРЕУСПЕВАЕМ В КАЖДОМ ПРОЕКТЕ <br> НАД КОТОРЫМ МЫ РАБОТАЕМ
    .description__wrapper._container-inner
      .description__text
        p Мы придерживаемся профессионального подхода во взаимодействии с нашими клиентами на всех этапах - от планирования до внедрения и обслуживания. Наша команда вкладывает много времени и энергии, чтобы достичь желаемого результата, исходя из бизнес-требований клиента.
        p Свяжитесь с нами, чтобы мгновенно получить высококачественные услуги по разработке DeFi.
      a(href="#consultation-block").btn-default   
        <span>+</span> Давайте обсудим ваш проект