section.experience._container 
  .section-head 
    h2 Опыт работы с <i>2019</i> года
    h3 Сегодня Mycelium Lab - это:
  .experience__wrapper 
    .experience__item(data-number="70+")
      h3 ПРОЕКТОВ
      p Созданы под ключ
    .experience__item(data-number="4+")
      h3 ГОДА
      p Опыта разработки
    .experience__item(data-number="39+")
      h3 СПЕЦИАЛИСТОВ
      p Более 33 разработчиков
    .experience__item(data-number="40+")
      h3 ПАРТНЕРОВ
      p Нас знают и доверяют
  .experience__quote 
    p Команда наших специалистов обладает совокупным опытом, <span>более чем в 70 проектах.</span> Мы успешно разрабатываем различные решения в AI и Fintech индустрии (проекты с использованием лингвистических и генеративных моделей), а также в блокчейне, включая смарт-контракты, безопасные системы хранения и передачи данных, криптовалютные биржи, P2P-сервисы, кошельки, NFT маркетплейсы, GameFi, DEX, пулы ликвидности и другие проекты находящиеся на передовой.