//- section.partners._container#partners-block 
section.partners#partners-block 
  .section-head 
    h2 ПАРТНЕРЫ
    h3 Основано на опыте более чем в 70 проектах
  .partners__wrapper 
    .row 
      a.col1.cointelegraph(target="_blank" href="https://cointelegraph.com/")
        img.partner-icon(src="img/partners/cointelegraph.svg")
      a.col2.chainlink(target="_blank" href="https://chain.link/")
        img.partner-icon(src="img/partners/chainlink.svg")
      a.col3.oneinch(target="_blank" href="https://1inch.io/")
        img.partner-icon(src="img/partners/1inch.svg")
      a.col4.metis(target="_blank" href="https://www.metis.io")
        img.partner-icon(src="img/partners/metis.svg")
      a.col5.thegraph(target="_blank" href="https://thegraph.com")
        img.partner-icon(src="img/partners/thegraph.svg")
      a.col6(target="_blank" href="https://near.org/")
        img.partner-icon(src="img/partners/near.svg")
      a.col7(target="_blank" href="https://de.fi")
        img.partner-icon(src="img/partners/defi.svg")
    .row 
      a.col1.magicsquare(target="_blank" href="https://magicsquare.io")
        img.partner-icon(src="img/partners/magicsquare.svg")
      a.col2.apeswap(target="_blank" href="https://apeswap.finance/")
        img.partner-icon(src="img/partners/apeswap.svg")
      a.col3(target="_blank" href="https://odos.xyz/")
        img.partner-icon(src="img/partners/odos.svg")
      a.col4(target="_blank" href="https://hacken.io")
        img.partner-icon(src="img/partners/hacken.svg")
      a.col5.algorand(target="_blank" href="https://algorand.com/")
        img.partner-icon(src="img/partners/algorand.svg")
      a.col6.boba(target="_blank" href="https://boba.network")
        img.partner-icon(src="img/partners/boba.svg")
      a.col7.cls(target="_blank" href="https://www.cls.global")
        img.partner-icon(src="img/partners/cls.svg")
    .row 
      a.col1(target="_blank" href="https://arbitrum.io")
        img.partner-icon(src="img/partners/arbitrum2.svg")
      a.col2(target="_blank" href="https://www.avax.network")
        img.partner-icon(src="img/partners/avalanche2.svg")
      a.col3.bitkeep(target="_blank" href="https://bitkeep.com/")
        img.partner-icon(src="img/partners/bitkeep2.svg")
      a.col4(target="_blank" href="https://www.certik.com/")
        img.partner-icon(src="img/partners/certik.svg")
      a.col5.aurora(target="_blank" href="https://aurora.dev")
        img.partner-icon(src="img/partners/aurora2.svg")
      a.col6.safelaunch(target="_blank" href="https://safelaunch.io")
        img.partner-icon(src="img/partners/safelaunch2.svg")
      a.col7(target="_blank" href="https://eywa.fi")
        img.partner-icon(src="img/partners/eywa2.svg")
    .row 
      a.col1.everscale(target="_blank" href="https://everscale.network")
        img.partner-icon(src="img/partners/everscale2.svg")
      a.col2.ackee(target="_blank" href="https://ackeeblockchain.com/")
        img.partner-icon(src="img/partners/ackee2.svg")
      a.col3.evmos(target="_blank" href="https://evmos.org/")
        img.partner-icon(src="img/partners/evmos.svg")
      a.col4(target="_blank" href="https://corestarter.com")
        img.partner-icon(src="img/partners/corestarter2.svg")
      a.col5.banxe(target="_blank" href="https://banxe.com/")
        img.partner-icon(src="img/partners/banxe.svg")
      a.col6.axelar(target="_blank" href="https://axelar.network/")
        img.partner-icon(src="img/partners/axelar2.svg")
      a.col7.sym(target="_blank" href="https://www.siu.edu.in/")
        img.partner-icon(src="img/partners/symbiosis.svg")
    .row 
      a.col1.kommunitas(target="_blank" href="https://kommunitas.net/")
        img.partner-icon(src="img/partners/kommunitas.svg")
      a.col2(target="_blank" href="https://occam.fi/")
        img.partner-icon(src="img/partners/occ.svg")
      a.col3(target="_blank" href="https://omniscia.io")
        img.partner-icon(src="img/partners/omniscia.svg")
      a.col4.bizunity(target="_blank" href="https://www.bizcommunity.com/")
        img.partner-icon(src="img/partners/bizunity.svg")
      a.col5.galxe(target="_blank" href="https://galxe.com/")
        img.partner-icon(src="img/partners/galxe.svg")
      a.col6.lifi(target="_blank" href="https://li.fi/brand-assets")
        img.partner-icon(src="img/partners/lifi.svg")
      a.col7.tdefi(target="_blank" href="https://tde.fi")
        img.partner-icon(src="img/partners/tdefi.svg")
    .row 
      a.col1(target="_blank" href="https://marketmaking.pro")
        img.partner-icon(src="img/partners/mmpro.svg")
      a.col2.moonbeam(target="_blank" href="https://moonbeam.network")
        img.partner-icon(src="img/partners/moonbeam.svg")
      a.col3(target="_blank" href="https://afford.capital/")
        img.partner-icon(src="img/partners/afford.svg")
      a.col4.sawa(target="_blank" href="https://sawastarter.com")
        img.partner-icon(src="img/partners/sawa.svg")
      a.col5.polygon(target="_blank" href="https://polygon.technology/")
        img.partner-icon(src="img/partners/polygon.svg")
      a.col6.stargate(target="_blank" href="https://stargate.finance")
        img.partner-icon(src="img/partners/stargate.png")
      a.col7.innmind(target="_blank" href="https://innmind.com")
        img.partner-icon(src="img/partners/innmind.svg")
    .row 
      a.col1.gotbit(target="_blank" href="https://gotbit.io/")
        img.partner-icon(src="img/partners/gotbit.svg")
      a.col2(target="_blank" href="https://debridge.finance/")
        img.partner-icon(src="img/partners/debridge2.svg")
      a.col3(target="_blank" href="https://www.avatel.es/")
        img.partner-icon(src="img/partners/avatea2.svg")
      a.col4.daofund(target="_blank" href="")
        img.partner-icon(src="img/partners/daofund.svg")
      a.col5(target="_blank" href="https://truepnl.com")
        img.partner-icon(src="img/partners/truepnl2.svg")
      a.col6(target="_blank" href="https://rarible.com/")
        img.partner-icon(src="img/partners/rarible.svg")
  .partners__wrapper_tablet
    .row 
      a.col1(target="_blank" href="https://cointelegraph.com/")
        img.partner-icon(src="img/partners/cointelegraph.svg")
      a.col2.chainlink(target="_blank" href="https://chain.link/")
        img.partner-icon(src="img/partners/chainlink.svg")
      a.col3(target="_blank" href="https://1inch.io/")
        img.partner-icon(src="img/partners/1inch.svg")
      a.col4.thegraph(target="_blank" href="https://thegraph.com")
        img.partner-icon(src="img/partners/thegraph.svg")
      a.col5(target="_blank" href="https://near.org/")
        img.partner-icon(src="img/partners/near.svg")
      a.col6(target="_blank" href="https://de.fi")
        img.partner-icon(src="img/partners/defi.svg")
      a.col7.metis(target="_blank" href="https://www.metis.io")
        img.partner-icon(src="img/partners/metis.svg")
    .row 
      a.col1(target="_blank" href="https://magicsquare.io")
        img.partner-icon(src="img/partners/magicsquare.svg")
      a.col2(target="_blank" href="https://apeswap.finance/")
        img.partner-icon(src="img/partners/apeswap.svg")
      a.col3(target="_blank" href="https://odos.xyz/")
        img.partner-icon(src="img/partners/odos.svg")
      a.col4(target="_blank" href="https://algorand.com/")
        img.partner-icon(src="img/partners/algorand.svg")
      a.col5.boba(target="_blank" href="https://boba.network")
        img.partner-icon(src="img/partners/boba.svg")
      a.col6(target="_blank" href="https://www.cls.global")
        img.partner-icon(src="img/partners/cls.svg")
      a.col7(target="_blank" href="https://hacken.io")
        img.partner-icon(src="img/partners/hacken.svg")
    .row 
      a.col1(target="_blank" href="https://arbitrum.io")
        img.partner-icon(src="img/partners/arbitrum2.svg")
      a.col2(target="_blank" href="https://www.avax.network")
        img.partner-icon(src="img/partners/avalanche2.svg")
      a.col3(target="_blank" href="https://bitkeep.com/")
        img.partner-icon(src="img/partners/bitkeep2.svg")
      a.col4(target="_blank" href="https://aurora.dev")
        img.partner-icon(src="img/partners/aurora2.svg")
      a.col5(target="_blank" href="https://eywa.fi")
        img.partner-icon(src="img/partners/eywa2.svg")
      a.col6(target="_blank" href="https://banxe.com/")
        img.partner-icon(src="img/partners/banxe.svg")
      a.col7(target="_blank" href="https://www.certik.com/")
        img.partner-icon(src="img/partners/certik.svg")
    .row 
      a.col1.everscale(target="_blank" href="https://everscale.network")
        img.partner-icon(src="img/partners/everscale2.svg")
      a.col2(target="_blank" href="https://ackeeblockchain.com/")
        img.partner-icon(src="img/partners/ackee2.svg")
      a.col3(target="_blank" href="https://evmos.org/")
        img.partner-icon(src="img/partners/evmos.svg")
      a.col4(target="_blank" href="https://axelar.network/")
        img.partner-icon(src="img/partners/axelar2.svg")
      a.col5.tdefi(target="_blank" href="https://de.fi/")
        img.partner-icon(src="img/partners/tdefi.svg")
      a.col6(target="_blank" href="https://li.fi/brand-assets")
        img.partner-icon(src="img/partners/lifi.svg")
      a.col7(target="_blank" href="https://corestarter.com")
        img.partner-icon(src="img/partners/corestarter2.svg")
    .row 
      a.col1(target="_blank" href="https://kommunitas.net/")
        img.partner-icon(src="img/partners/kommunitas.svg")
      a.col2(target="_blank" href="https://occam.fi")
        img.partner-icon(src="img/partners/occ.svg")
      a.col3(target="_blank" href="https://omniscia.io")
        img.partner-icon(src="img/partners/omniscia.svg")
      a.col4(target="_blank" href="https://galxe.com/")
        img.partner-icon(src="img/partners/galxe.svg")
      a.col5(target="_blank" href="https://innmind.com")
        img.partner-icon(src="img/partners/innmind.svg")
      a.col6.safelaunch(target="_blank" href="https://safelaunch.io")
        img.partner-icon(src="img/partners/safelaunch2.svg")
      a.col7(target="_blank" href="https://sawastarter.com")
        img.partner-icon(src="img/partners/sawa.svg")
    .row 
      a.col1(target="_blank" href="https://marketmaking.pro")
        img.partner-icon(src="img/partners/mmpro.svg")
      a.col2(target="_blank" href="https://moonbeam.network")
        img.partner-icon(src="img/partners/moonbeam.svg")
      a.col3(target="_blank" href="https://afford.capital/")
        img.partner-icon(src="img/partners/afford.svg")
      a.col4(target="_blank" href="https://polygon.technology/")
        img.partner-icon(src="img/partners/polygon.svg")
      a.col5(target="_blank" href="https://stargate.finance")
        img.partner-icon(src="img/partners/stargate.png")
      a.col6.daofund(target="_blank" href="")
        img.partner-icon(src="img/partners/daofund.svg")
      a.col7(target="_blank" href="https://www.bizcommunity.com/")
        img.partner-icon(src="img/partners/bizunity.svg")
    .row 
      a.col1(target="_blank" href="https://gotbit.io/")
        img.partner-icon(src="img/partners/gotbit.svg")
      a.col2(target="_blank" href="https://debridge.finance/")
        img.partner-icon(src="img/partners/debridge2.svg")
      a.col3(target="_blank" href="https://www.avatel.es/")
        img.partner-icon(src="img/partners/avatea2.svg")
      a.col4(target="_blank" href="https://truepnl.com")
        img.partner-icon(src="img/partners/truepnl2.svg")
      a.col5.sym(target="_blank" href="https://symbiosis.finance")
        img.partner-icon(src="img/partners/symbiosis2.svg")
      a.col6(target="_blank" href="https://rarible.com/")
        img.partner-icon(src="img/partners/rarible.svg")
  .partners__wrapper_mobile
    .row
      a.col1(target="_blank" href="https://cointelegraph.com/")
        img.partner-icon(src="img/partners/cointelegraph.svg")
      a.col2.chainlink(target="_blank" href="https://chain.link/")
        img.partner-icon(src="img/partners/chainlink.svg")
      a.col3(target="_blank" href="https://1inch.io/")
        img.partner-icon(src="img/partners/1inch.svg")
    .row
      a.col1(target="_blank" href="https://magicsquare.io")
        img.partner-icon(src="img/partners/magicsquare.svg")
      a.col2(target="_blank" href="https://apeswap.finance/")
        img.partner-icon(src="img/partners/apeswap.svg")
      a.col3(target="_blank" href="https://odos.xyz/")
        img.partner-icon(src="img/partners/odos.svg")
    .row
      a.col1(target="_blank" href="https://arbitrum.io")
        img.partner-icon(src="img/partners/arbitrum3.svg")
      a.col2.avalanche(target="_blank" href="https://www.avax.network")
        img.partner-icon(src="img/partners/avalanche3.svg")
      a.col3.bitkeep(target="_blank" href="https://bitkeep.com/")
        img.partner-icon(src="img/partners/bitkeep3.svg")
    .row 
      a.col1.everscale(target="_blank" href="https://everscale.network")
        img.partner-icon(src="img/partners/everscale3.svg")
      a.col2.ackee(target="_blank" href="https://ackeeblockchain.com/")
        img.partner-icon(src="img/partners/ackee3.png")
      a.col3.evmos(target="_blank" href="https://evmos.org/")
        img.partner-icon(src="img/partners/evmos.svg")
    .row 
      a.col1(target="_blank" href="https://kommunitas.net/")
        img.partner-icon(src="img/partners/kommunitas.svg")
      a.col2.occ(target="_blank" href="https://occam.fi")
        img.partner-icon(src="img/partners/occm3.svg")
      a.col3.omniscia(target="_blank" href="https://omniscia.io")
        img.partner-icon(src="img/partners/omniscia.svg")
    .row 
      a.col1(target="_blank" href="https://marketmaking.pro")
        img.partner-icon(src="img/partners/mmpro3.svg")
      a.col2(target="_blank" href="https://moonbeam.network")
        img.partner-icon(src="img/partners/moonbeam.svg")
      a.col3.afford(target="_blank" href="https://afford.capital/")
        img.partner-icon(src="img/partners/afford3.svg")
    .row 
      a.col1.gotbit(target="_blank" href="https://gotbit.io/")
        img.partner-icon(src="img/partners/gotbit.svg")
      a.col2.debridge(target="_blank" href="https://debridge.finance/")
        img.partner-icon(src="img/partners/debridge3.svg")
      a.col3.avatea(target="_blank" href="https://www.avatel.es/")
        img.partner-icon(src="img/partners/avatea3.svg")
    .row 
      a.col1.thegraph(target="_blank" href="https://thegraph.com")
        img.partner-icon(src="img/partners/thegraph.svg")
      a.col2.near(target="_blank" href="https://near.org/")
        img.partner-icon(src="img/partners/near.svg")
      a.col3.defi(target="_blank" href="https://de.fi")
        img.partner-icon(src="img/partners/defi.svg")
    .row 
      a.col1.algorand(target="_blank" href="https://algorand.com/")
        img.partner-icon(src="img/partners/algorand.svg")
      a.col2.boba(target="_blank" href="https://boba.network")
        img.partner-icon(src="img/partners/boba.svg")
      a.col3.cls(target="_blank" href="https://www.cls.global")
        img.partner-icon(src="img/partners/cls.svg")
    .row 
      a.col1.aurora(target="_blank" href="https://aurora.dev")
        img.partner-icon(src="img/partners/aurora2.svg")
      a.col2.eywa(target="_blank" href="https://eywa.fi")
        img.partner-icon(src="img/partners/eywa3.svg")
      a.col3.banxe(target="_blank" href="https://banxe.com/")
        img.partner-icon(src="img/partners/banxe.svg")
    .row 
      a.col1.axelar(target="_blank" href="https://axelar.network/")
        img.partner-icon(src="img/partners/axelar3.svg")
      a.col2.tdefi(target="_blank" href="https://tde.fi")
        img.partner-icon(src="img/partners/tdefi.svg")
      a.col3.lifi(target="_blank" href="https://li.fi/brand-assets")
        img.partner-icon(src="img/partners/lifi.svg")
    .row 
      a.col1.galxe(target="_blank" href="https://galxe.com/")
        img.partner-icon(src="img/partners/galxe.svg")
      a.col2.innmind(target="_blank" href="https://innmind.com")
        img.partner-icon(src="img/partners/innmind.svg")
      a.col3.safelaunch(target="_blank" href="https://safelaunch.io")
        img.partner-icon(src="img/partners/safelaunch3.svg")
    .row 
      a.col1.polygon(target="_blank" href="https://polygon.technology/")
        img.partner-icon(src="img/partners/polygon.svg")
      a.col2.stargate(target="_blank" href="https://stargate.finance")
        img.partner-icon(src="img/partners/stargate.png")
      a.col3.daofund(target="_blank" href="")
        img.partner-icon(src="img/partners/daofund.svg")
    .row 
      a.col1.truepnl(target="_blank" href="https://truepnl.com")
        img.partner-icon(src="img/partners/truepnl3.svg")
      a.col2.symbiosis(target="_blank" href="https://www.siu.edu.in/")
        img.partner-icon(src="img/partners/symbiosis3.svg")
      a.col3.metis(target="_blank" href="https://www.metis.io")
        img.partner-icon(src="img/partners/metis.svg")
    .row 
      a.col1(target="_blank" href="https://hacken.io")
        img.partner-icon(src="img/partners/hacken.svg")
      a.col2.bizunity(target="_blank" href="https://www.bizcommunity.com/")
        img.partner-icon(src="img/partners/bizunity.svg")
      a.col3.corestarter(target="_blank" href="https://corestarter.com")
        img.partner-icon(src="img/partners/corestarter3.svg")
    .row 
      a.col1(target="_blank" href="https://www.certik.com/")
        img.partner-icon(src="img/partners/certik.svg")
      a.col2(target="_blank" href="https://sawastarter.com")
        img.partner-icon(src="img/partners/sawa.svg")
      a.col3(target="_blank" href="https://rarible.com/")
        img.partner-icon(src="img/partners/rarible.svg")