section.reviews
  ._container
    .section-head 
      h2 ВОТ ЧТО ГОВОРЯТ НАШИ КЛИЕНТЫ
      h3 Бесплатно и конфиденциально
    .reviews__wrapper 
      .swiper.swiper-reviews 
        .swiper-wrapper
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/swapcase-rep.png" alt="" style="max-width: 120px;")
              .reviews-slide__descr 
                .reviews-slide__name Ivan Kononov <span>Генеральный директор <a id="showSwapcaseCase">swapcase.io</a><span>
                //-.reviews-slide__logo
                  img(src="img/review-logo.png" alt="")
                p SWAPCASE - это децентрализованный фонд управления активами.
              .reviews-slide__text 
                p "Когда ребята приступили к проекту, мы даже не представляли до конца концепцию того, что мы хотим увидеть в конечном итоге. Нам повезло с выбором технической команды, они на 100% поняли нашу задачу и сделали проект полностью своими силами. Но больше всего меня удивил профессионализм и терпение менеджеров, которые работали над проектом, как будто это было их собственное детище."
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/amnext-rep.png" alt="" style="max-width: 120px;")
              .reviews-slide__descr 
                .reviews-slide__name Fabio Pizzingrili <span>Генеральный директор <a id="showAmnextCase">Amnext</a></span>
                //-.reviews-slide__logo
                  img(src="img/review-logo2.png" alt="")
                p Следующая крупная лотерея в сфере DeFi
              .reviews-slide__text 
                p "Хорошая работа, без нареканий! Я рад, что обратился именно к этим ребятам!"
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/spicy-rep.png" alt="" style="max-width: 120px;")
              .reviews-slide__descr 
                .reviews-slide__name Paolo Diglio <span>Генеральный директор <a id="showSpicyNetworkCase">Spicy.Network</a></span>
                //-.reviews-slide__logo
                  img(src="img/review-logo3.png" alt="")
                p Решение все-в-одном, которое предоставляет все необходимые услуги<br> для компаний, желающих запустить свои проекты,<br> а также для инвесторов, которым нужно все в одной платформе.
              .reviews-slide__text 
                p "Большое спасибо за хорошо выполненную работу! Мы очень довольны результатом и счастливы, что начали с вами сотрудничество. Вы - очень хорошие профессионалы и специалисты с выдающимися качествами и творческим подходом!"
          .swiper-slide 
            .reviews-slide 
              .reviews-slide__pic 
                img(src="img/acta-rep.png" alt="" style="max-width: 120px;")
              .reviews-slide__descr 
                .reviews-slide__name Christof Waton <span>Генеральный директор <a>Acta Finance</a></span>
                //-.reviews-slide__logo
                  img(src="img/review-logo4.png" alt="")
                p Экосистема DeFi и агрегатор ликвидности межцепочечных сетей<br> с активными пулами ликвидности.
              .reviews-slide__text 
                p "Отличная работа, ребята! Ваша открытость, честность и гибкость в отношении изменяющихся условий DeFi помогли избежать многих проблем, а ваш превентивный подход впечатляет!"

        .swiper-button-prev
          img(src="img/arrow-prev.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled
        .swiper-button-next
          img(src="img/arrow-next.svg" alt="").current
          img(src="img/arrow-disabled.svg" alt="").disabled