section.services._container#about-block
  ._container-inner
    .section-head
      h2 ОЗНАКОМЬТЕСЬ С НАШИМИ УСЛУГАМИ
      h3 Превратите идею в прибыль
    .services__wrapper 
      .services__item.item1
        .services__title WEB3/ DEFI/ FINTECH
        .services__subtitle Проект в Web3, DeFi и Fintech сферах под ключ
        p Для воплощения ваших идей в жизнь нет необходимости нанимать целую команду профессионалов и набивать шишки - мы уже сделали это за вас. Получите сервис эталонного качества созданный с нуля!
      .services__item.item2
        .services__title AI DEVELOPMENT
        .services__subtitle Магия AI на службе вашего проекта
        p Мы используем искусственный интеллект для интеграции лингвистических моделей по типу ChatGPT и генерации изображений по типу Midjourney, обогащая проекты клиентов невероятными возможностями.
      .services__item.item3
        .services__title КОНСУЛЬТАЦИИ
        .services__subtitle Услуги консультации
        p Мы являемся пионерами в разработке Fintech, Web3 и AI проектов и уже являлись экспертами в этих областях раньше, чем большинство наших конкурентов только начинали свой путь.<br><br>Защитите себя от потенциальных рисков и проконсультируйтесь с нашими экспертами.
      .services__item.item4
        .services__title РАЗРАБОТКА
        .services__subtitle Разработка мобильных и веб-приложений
        p Независимо от того, какой сервис вам нужен: iOS, Android или веб-приложение, мы тесно сотрудничаем с каждым клиентом для того, чтобы создать продукт, который полностью отвечает потребностям ваших пользователей и приносит пользу вашему бизнесу.
      .services__item.item5
        .services__title SECURITY AUDIT/
        .services__subtitle Аудит безопасности смарт-контрактов и децентрализованных приложений (dApp)
        p Устраните риски взломов, эксплойтов и других атак на ваши сервера, децентрализованные приложения и смарт-контракты с помощью передовых методик и специалистов по компьютерной безопасности высшего уровня.
      .services__item.item6
        .services__title АУТСОРСИНГ
        .services__subtitle Услуги по аутсорсингу разработки и аутстаффинга
        p Поддержка собственного штата IT-специалистов обходится дороже, чем найм команды профессиональных, сработавшихся разработчиков. Мы можем предоставить вам отдельных специалистов или целую команду, включающую фронтенд и бэкенд разработчиков, дизайнеров, тестировщиков, менеджеров проектов и других специалистов.

