section.steps
  ._container 
    .section-head 
      h2 КАК ЭТО РАБОТАЕТ
      h3 Мы Ваш надежный партнер, который возьмет на себя техническую часть вашего проекта,<br> освободив вас от этой задачи и позволив вам сконцентрироваться на развитии своего бизнеса.
    .steps__wrapper 
      .steps__item
        img(src="img/LightbulbFilament.svg" alt="")
        h3 Вы приходите к нам
        p С идеей или<br> незавершенным проектом
      .steps__item
        img(src="img/Coffee.svg" alt="")
        h3 Расслабляетесь
        p И следите за ходом<br> разработки вашего проекта
      .steps__item
        img(src="img/Frame.svg" alt="" width="55" heght="50")
        h3 Получаете
        p Функциональный, оригинальный, надежный<br> и привлекательный продукт, готовый к запуску
    .steps__footer 
      img(src="img/Download.svg" alt="download-icon")
      div Хотите узнать больше? <br> Скачать нашу <a href="">презентацию</a>