section.cases#cases-block
  ._container
    .section-head.cases__title
      h2 / CASE STUDIES /
    .cases__wrapper 
      .cases__item
          .cases__picture.cases__grid-item1
            .cases__picture-single.show-bdns
              img(src="img/cases/image5.jpg" alt="" loading="lazy")
          .cases__item-col
            .cases__number.cases__grid-item2 
              span <i>1</i>
            .cases__subtitle.cases__grid-item3.show-bdns XDAO <a>/XDAO.app</a>
            .cases__text.cases__grid-item4.show-bdns
              p AI customer support bot in Telegram that talks like a human support agent and uses the project's documentation as its knowledge base. It uses GPT-4 via OpenAI API and utilizes a set of additional measures to guarantee the factuality of responses, correct language and tone of conversation.
          .cases__text.cases__text--mobile.cases__grid-item4.show-bdns
            p AI customer support bot in Telegram that talks like a human support agent and uses the project's documentation as its knowledge base. It uses GPT-4 via OpenAI API and utilizes a set of additional measures to guarantee the factuality of responses, correct language and tone of conversation.

      .cases__item
        .cases__picture.cases__grid-item1
          .cases__picture-single.show-uno
            img(src="img/cases/limeGPT-preview.jpg" alt="" loading="lazy")
        .cases__item-col
          .cases__number.cases__grid-item2
            span <i>2</i>
          .cases__subtitle.cases__grid-item3.show-uno Revolutionizing Programming with LimeGPT: AI-Powered Code Autocompletion 
          .cases__text.cases__grid-item4.show-uno
            p Streamline your coding experience with LimeGPT, our intelligent code autocompletion tool. Built on a state-of-the-art transformer neural network, LimeGPT significantly reduces development time and effort by predicting and completing lines of code in real-time. It doesn't just simplify the process - it revolutionizes it, enabling developers to focus more on design and logic while the AI handles the syntax.
        .cases__text.cases__text--mobile.cases__grid-item4.show-uno
          p Streamline your coding experience with LimeGPT, our intelligent code autocompletion tool. Built on a state-of-the-art transformer neural network, LimeGPT significantly reduces development time and effort by predicting and completing lines of code in real-time. It doesn't just simplify the process - it revolutionizes it, enabling developers to focus more on design and logic while the AI handles the syntax.

      .cases__item
        .cases__picture.cases__grid-item1
            .cases__picture-single.show-dwill
              img(src="img/cases/generateMusic-preview.jpg" alt="" loading="lazy")
        .cases__item-col
          .cases__number.cases__grid-item2 
            span <i>3</i>
          .cases__subtitle.cases__grid-item3.show-dwill AI-Driven Music Generation for the Next Artistic Frontier
          .cases__text.cases__grid-item4.show-dwill 
            p Unlock the symphony of the future with our AI-Driven Music Generation project. Utilizing advanced machine learning algorithms, this innovative initiative generates captivating and unique musical compositions, extending the boundaries of artistic creativity. Whether it's crafting original scores, offering fresh inspiration, or creating soundtracks for various applications, our AI system breathes new life into the world of music.


        .cases__text.cases__text--mobile.cases__grid-item4.show-dwill 
          p Unlock the symphony of the future with our AI-Driven Music Generation project. Utilizing advanced machine learning algorithms, this innovative initiative generates captivating and unique musical compositions, extending the boundaries of artistic creativity. Whether it's crafting original scores, offering fresh inspiration, or creating soundtracks for various applications, our AI system breathes new life into the world of music.


    .cases__btns 
      a.btn-default(href="#consultation-block") <span>+</span> BOOK A CONSULTATION

  .cases__footer
    a.btn-default(href="#consultation-block") <span>+</span> BOOK A CONSULTATION