section.experience._container 
  .section-head 
    h2 EXPERIENCE SINCE <i>2019</i>
    h3 Today's Mycelium Lab is:
  .experience__wrapper 
    .experience__item(data-number="50+")
      h3 PROJECTS
      p Created on a turn-key basis
    .experience__item(data-number="4+")
      h3 YEARS
      p Of development experience
    .experience__item(data-number="39+")
      h3 SPECIALISTS
      p 33+ developers
    .experience__item(data-number="40+")
      h3 PARTNERS
      p Trusting our solutions
  .experience__quote 
    p Embrace the future with our AI Solution Design and Strategy Consulting services. We bring the expertise you need, delivering professional advice tailored to your project's specific needs, and guiding you towards creating the most effective AI solutions. Whether it's developing a new AI model, fine-tuning existing ones, or integrating advanced AI tools into your workflow, our team is equipped to take your project to the next level of innovation and efficiency.