meta(charset="utf-8")
title MYCELIUM LAB
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(content="ie=edge" http-equiv="x-ua-compatible")
meta(property="og:title" content="Mycelium Lab")
meta(property="og:description" content="Development and implementation of custom blockchain software for businesses and startups. Create a blockchain project with the most up-to-date blockchain technologies.")
meta(property="og:image" content="https://i.ibb.co/19qKcMM/preview.png")
meta(property="og:url" content="mycelium.team")
meta(property="og:image:width" content="968")
meta(property="og:image:height" content="504")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:image" content="https://i.ibb.co/19qKcMM/preview.png")
link(rel="stylesheet" href="css/style.min.css")
link(rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png")
link(rel="manifest" href="../img/favicon/site.webmanifest")