doctype html
html(lang="ru")
    include modules/head
    body
        include modules/preview
        include modules/metrics
        iframe#parentframe.wrapper(src="index-general.html" style="width: 100vw;")
        include modules/script
        include modules/urlqueryscript